-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: steritrack
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `instrument_set_items`
--

DROP TABLE IF EXISTS `instrument_set_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `instrument_set_items` (
  `setId` varchar(50) NOT NULL,
  `instrumentId` varchar(50) NOT NULL,
  `quantity` int NOT NULL DEFAULT '1',
  PRIMARY KEY (`setId`,`instrumentId`),
  KEY `instrumentId` (`instrumentId`),
  CONSTRAINT `instrument_set_items_ibfk_1` FOREIGN KEY (`setId`) REFERENCES `instrument_sets` (`id`) ON DELETE CASCADE,
  CONSTRAINT `instrument_set_items_ibfk_2` FOREIGN KEY (`instrumentId`) REFERENCES `instruments` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `instrument_set_items`
--

LOCK TABLES `instrument_set_items` WRITE;
/*!40000 ALTER TABLE `instrument_set_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `instrument_set_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `instrument_sets`
--

DROP TABLE IF EXISTS `instrument_sets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `instrument_sets` (
  `id` varchar(50) NOT NULL,
  `name` varchar(100) NOT NULL,
  `description` text,
  `is_active` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `instrument_sets`
--

LOCK TABLES `instrument_sets` WRITE;
/*!40000 ALTER TABLE `instrument_sets` DISABLE KEYS */;
INSERT INTO `instrument_sets` VALUES ('29c60b54-c683-47e4-a714-195d74fbe048','CVP SET',NULL,1),('2d0cbf4f-3425-4522-871f-8dfef81dd708','IV LINE SET',NULL,1),('6d90cbed-1b17-48e3-81e2-04a4d79b1436','ORAL HYGIENE SET','',1),('c2e9879d-c8b7-4eca-b9aa-bc7cee1e09b3','DRESSING SET',NULL,1),('d63009d3-5e05-46ec-aae2-43f69ca549a8','KOM SUCTION SET',NULL,1),('s-1765366114614','KOM SUCTION','',1),('s-1765366292677','BAK SPUIT','',1),('s-1765366444246','BAGGING','',1),('s-1765366860827','DRAIN SET','',1),('s-1765367398648','SET PARTUS','',1),('s-1765367552612','TABUNG SUCTION','',1);
/*!40000 ALTER TABLE `instrument_sets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `instrument_unit_stock`
--

DROP TABLE IF EXISTS `instrument_unit_stock`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `instrument_unit_stock` (
  `instrumentId` varchar(50) NOT NULL,
  `unitId` varchar(50) NOT NULL,
  `quantity` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`instrumentId`,`unitId`),
  KEY `unitId` (`unitId`),
  CONSTRAINT `instrument_unit_stock_ibfk_1` FOREIGN KEY (`instrumentId`) REFERENCES `instruments` (`id`) ON DELETE CASCADE,
  CONSTRAINT `instrument_unit_stock_ibfk_2` FOREIGN KEY (`unitId`) REFERENCES `units` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `instrument_unit_stock`
--

LOCK TABLES `instrument_unit_stock` WRITE;
/*!40000 ALTER TABLE `instrument_unit_stock` DISABLE KEYS */;
/*!40000 ALTER TABLE `instrument_unit_stock` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `instruments`
--

DROP TABLE IF EXISTS `instruments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `instruments` (
  `id` varchar(50) NOT NULL,
  `name` varchar(100) NOT NULL,
  `category` varchar(50) NOT NULL,
  `totalStock` int NOT NULL DEFAULT '0',
  `cssdStock` int NOT NULL DEFAULT '0',
  `dirtyStock` int NOT NULL DEFAULT '0',
  `is_active` tinyint(1) DEFAULT '1',
  `brokenStock` int NOT NULL DEFAULT '0',
  `packingStock` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `instruments`
--

LOCK TABLES `instruments` WRITE;
/*!40000 ALTER TABLE `instruments` DISABLE KEYS */;
/*!40000 ALTER TABLE `instruments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `logs`
--

DROP TABLE IF EXISTS `logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `logs` (
  `id` varchar(50) NOT NULL,
  `timestamp` bigint NOT NULL,
  `message` text NOT NULL,
  `type` varchar(20) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `logs`
--

LOCK TABLES `logs` WRITE;
/*!40000 ALTER TABLE `logs` DISABLE KEYS */;
INSERT INTO `logs` VALUES ('88a05bdd-d5ce-11f0-b744-902e16e77570',1765374348059,'Pencucian: 5 jenis item dicuci oleh Budi (CSSD)','INFO'),('927d2fce-d5ce-11f0-b744-902e16e77570',1765374364613,'Sterilisasi Batch BATCH-1765374364569 SUKSES (Mesin: Autoclave 1). Item siap di CSSD.','SUCCESS');
/*!40000 ALTER TABLE `logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `request_items`
--

DROP TABLE IF EXISTS `request_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `request_items` (
  `requestId` varchar(50) NOT NULL,
  `itemId` varchar(50) NOT NULL,
  `itemType` varchar(20) DEFAULT NULL,
  `quantity` int NOT NULL,
  PRIMARY KEY (`requestId`,`itemId`),
  CONSTRAINT `request_items_ibfk_1` FOREIGN KEY (`requestId`) REFERENCES `requests` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `request_items`
--

LOCK TABLES `request_items` WRITE;
/*!40000 ALTER TABLE `request_items` DISABLE KEYS */;
INSERT INTO `request_items` VALUES ('req-1765375402056','c2e9879d-c8b7-4eca-b9aa-bc7cee1e09b3','SET',2);
/*!40000 ALTER TABLE `request_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `requests`
--

DROP TABLE IF EXISTS `requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `requests` (
  `id` varchar(50) NOT NULL,
  `timestamp` bigint NOT NULL,
  `unitId` varchar(50) NOT NULL,
  `status` varchar(20) NOT NULL,
  `requestedBy` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `unitId` (`unitId`),
  CONSTRAINT `requests_ibfk_1` FOREIGN KEY (`unitId`) REFERENCES `units` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `requests`
--

LOCK TABLES `requests` WRITE;
/*!40000 ALTER TABLE `requests` DISABLE KEYS */;
INSERT INTO `requests` VALUES ('req-1765375402056',1765375402370,'u-1765095980535','APPROVED','Siti (Perawat)');
/*!40000 ALTER TABLE `requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sterilization_batch_items`
--

DROP TABLE IF EXISTS `sterilization_batch_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sterilization_batch_items` (
  `batchId` varchar(50) NOT NULL,
  `instrumentId` varchar(50) NOT NULL,
  `quantity` int NOT NULL,
  PRIMARY KEY (`batchId`,`instrumentId`),
  KEY `instrumentId` (`instrumentId`),
  CONSTRAINT `sterilization_batch_items_ibfk_1` FOREIGN KEY (`batchId`) REFERENCES `sterilization_batches` (`id`) ON DELETE CASCADE,
  CONSTRAINT `sterilization_batch_items_ibfk_2` FOREIGN KEY (`instrumentId`) REFERENCES `instruments` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sterilization_batch_items`
--

LOCK TABLES `sterilization_batch_items` WRITE;
/*!40000 ALTER TABLE `sterilization_batch_items` DISABLE KEYS */;
INSERT INTO `sterilization_batch_items` VALUES ('BATCH-1765374364569','i-1765098720503',1),('BATCH-1765374364569','i-1765099564028',1),('BATCH-1765374364569','i-1765099605586',2),('BATCH-1765374364569','i-1765099669780',1),('BATCH-1765374364569','i-1765099695300',1);
/*!40000 ALTER TABLE `sterilization_batch_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sterilization_batches`
--

DROP TABLE IF EXISTS `sterilization_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sterilization_batches` (
  `id` varchar(50) NOT NULL,
  `timestamp` bigint NOT NULL,
  `operator` varchar(100) NOT NULL,
  `status` varchar(20) DEFAULT 'COMPLETED',
  `machineNumber` varchar(50) DEFAULT 'Autoclave 1',
  `expiryDate` bigint DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sterilization_batches`
--

LOCK TABLES `sterilization_batches` WRITE;
/*!40000 ALTER TABLE `sterilization_batches` DISABLE KEYS */;
INSERT INTO `sterilization_batches` VALUES ('BATCH-1765374364569',1765374364569,'Budi (CSSD)','COMPLETED','Autoclave 1',1780926364569);
/*!40000 ALTER TABLE `sterilization_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transaction_discrepancies`
--

DROP TABLE IF EXISTS `transaction_discrepancies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transaction_discrepancies` (
  `id` varchar(50) NOT NULL,
  `transactionId` varchar(50) NOT NULL,
  `instrumentId` varchar(50) NOT NULL,
  `expectedQty` int NOT NULL,
  `actualQty` int NOT NULL,
  `missingQty` int NOT NULL,
  `reason` varchar(100) DEFAULT NULL,
  `notes` text,
  `recordedBy` varchar(100) NOT NULL,
  `timestamp` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_discrepancy_transaction` (`transactionId`),
  KEY `idx_discrepancy_instrument` (`instrumentId`),
  KEY `idx_discrepancy_timestamp` (`timestamp`),
  CONSTRAINT `transaction_discrepancies_ibfk_1` FOREIGN KEY (`transactionId`) REFERENCES `transactions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `transaction_discrepancies_ibfk_2` FOREIGN KEY (`instrumentId`) REFERENCES `instruments` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transaction_discrepancies`
--

LOCK TABLES `transaction_discrepancies` WRITE;
/*!40000 ALTER TABLE `transaction_discrepancies` DISABLE KEYS */;
/*!40000 ALTER TABLE `transaction_discrepancies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transaction_items`
--

DROP TABLE IF EXISTS `transaction_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transaction_items` (
  `transactionId` varchar(50) NOT NULL,
  `instrumentId` varchar(50) NOT NULL,
  `count` int NOT NULL,
  `itemType` varchar(20) DEFAULT 'SINGLE',
  `brokenCount` int NOT NULL DEFAULT '0',
  `missingCount` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`transactionId`,`instrumentId`),
  KEY `instrumentId` (`instrumentId`),
  CONSTRAINT `transaction_items_ibfk_1` FOREIGN KEY (`transactionId`) REFERENCES `transactions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `transaction_items_ibfk_2` FOREIGN KEY (`instrumentId`) REFERENCES `instruments` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transaction_items`
--

LOCK TABLES `transaction_items` WRITE;
/*!40000 ALTER TABLE `transaction_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `transaction_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transaction_set_items`
--

DROP TABLE IF EXISTS `transaction_set_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transaction_set_items` (
  `transactionId` varchar(50) NOT NULL,
  `setId` varchar(50) NOT NULL,
  `quantity` int NOT NULL DEFAULT '1',
  `brokenCount` int NOT NULL DEFAULT '0',
  `missingCount` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`transactionId`,`setId`),
  KEY `setId` (`setId`),
  CONSTRAINT `transaction_set_items_ibfk_1` FOREIGN KEY (`transactionId`) REFERENCES `transactions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `transaction_set_items_ibfk_2` FOREIGN KEY (`setId`) REFERENCES `instrument_sets` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transaction_set_items`
--

LOCK TABLES `transaction_set_items` WRITE;
/*!40000 ALTER TABLE `transaction_set_items` DISABLE KEYS */;
INSERT INTO `transaction_set_items` VALUES ('a35b6284-dc67-40bd-b9f9-991ead5f6c65','29c60b54-c683-47e4-a714-195d74fbe048',1,0,0),('a35b6284-dc67-40bd-b9f9-991ead5f6c65','2d0cbf4f-3425-4522-871f-8dfef81dd708',1,0,0),('a35b6284-dc67-40bd-b9f9-991ead5f6c65','6d90cbed-1b17-48e3-81e2-04a4d79b1436',1,0,0),('a35b6284-dc67-40bd-b9f9-991ead5f6c65','c2e9879d-c8b7-4eca-b9aa-bc7cee1e09b3',4,0,0),('a35b6284-dc67-40bd-b9f9-991ead5f6c65','s-1765366292677',3,0,0),('f7b6c9e9-12df-4941-aeef-e321493b3f94','c2e9879d-c8b7-4eca-b9aa-bc7cee1e09b3',1,0,0);
/*!40000 ALTER TABLE `transaction_set_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transactions`
--

DROP TABLE IF EXISTS `transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transactions` (
  `id` varchar(50) NOT NULL,
  `timestamp` bigint NOT NULL,
  `type` varchar(20) NOT NULL,
  `status` varchar(20) NOT NULL,
  `unitId` varchar(50) NOT NULL,
  `qrCode` varchar(100) DEFAULT NULL,
  `createdBy` varchar(100) DEFAULT NULL,
  `validatedBy` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `unitId` (`unitId`),
  CONSTRAINT `transactions_ibfk_1` FOREIGN KEY (`unitId`) REFERENCES `units` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transactions`
--

LOCK TABLES `transactions` WRITE;
/*!40000 ALTER TABLE `transactions` DISABLE KEYS */;
INSERT INTO `transactions` VALUES ('a35b6284-dc67-40bd-b9f9-991ead5f6c65',1765373461018,'DISTRIBUTE','COMPLETED','u-1765095980535','TX-1765373461018','Budi (CSSD)','Siti (Perawat)'),('f7b6c9e9-12df-4941-aeef-e321493b3f94',1765374311948,'COLLECT','COMPLETED','u-1765095980535','TX-1765374311948','Budi (CSSD)','Siti (Perawat)');
/*!40000 ALTER TABLE `transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `units`
--

DROP TABLE IF EXISTS `units`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `units` (
  `id` varchar(50) NOT NULL,
  `name` varchar(100) NOT NULL,
  `qrCode` varchar(100) NOT NULL,
  `type` varchar(20) NOT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `units`
--

LOCK TABLES `units` WRITE;
/*!40000 ALTER TABLE `units` DISABLE KEYS */;
/*!40000 ALTER TABLE `units` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` varchar(50) NOT NULL,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `name` varchar(100) NOT NULL,
  `role` varchar(20) NOT NULL,
  `unitId` varchar(50) DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES ('u-1765097809765','Ani','$2b$10$ebOd2xv6PLfc1uUsZQg7x.tVB1tn/aU3/.cXf6RLGWLO4OWH45Bpq','Aniaja','NURSE','u-1765096080375',1),('user1','admin','$2b$10$ywoC/bg6/guNslFXBI7hWe6J2SARbw0kqDEiRqEVyiQd5aC6vgA/G','sukirrrman','ADMIN',NULL,1),('user2','staff','$2b$10$sW74toINd1WpipiAT9E2fuiifRTqjlQT47iRlkU9SWSyoviOc52v.','Aliaja (CSSD)','CSSD',NULL,1),('user3','nurse','$2b$10$LCfmpaKOYqB4CJttgXhok.sSomtTEIirqsNPpYyoouGf0M/bXxf7K','Siti (Perawat)','NURSE','u-1765095980535',1);
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-10 21:42:35
